<%= image_tag "banner.jpg" %><br />

<div id="border">
	<h1>FAQs</h1>
	<p>Q: Why are the September Nulugans doing the games?</p>
	<p>A: Because we love fun.</p>
	<p>Q: What events will there be?</p>
	<p>A: You sign up to compete in either Darts, Cornhole or Beerpong.  Winning teams in each event will Dance Off for Gold/Silver/Bronze during Wind Down.</p>
	<p>Q: When will the games happen?</p>
	<p>A: January 20th, 2012.  Darts competition starts at 10am.  Cornhole at 12:30pm.  Beerpong and Dance Off will occur during the Friday Wind Down.</p>
	<p>Q: How do I sign up?</p>
	<p>A: On the <%= link_to "Welcome page.", new_team_path %> You'll need to select which event you want to compete in, a team name and captain.  You can always come back and modify all info, add or delete members.</p> 
	<p>Q: I have more questions and there are no answers!!</p>
	<p>A: Sends us an email at "erantzeri[at]hulu.com". We might reply before the games begin.</p>
</div>