<%= image_tag "banner.jpg" %><br />
<div id="border">	
	<h1>New Team</h1>
	<p>Select the team for which you want to compete and enter your team's information</p>
	
	<%= render 'form' %>

	<br />

    *You can enter partial teams and fill out later. Or send us your name and event and we will join you to a team. 
	<br /><br />
	<%= link_to 'Back', teams_path %>

</div>